a,
.btn-primary {
    text-decoration: none;
}

.btn-gradient {
    position: relative;
    z-index: 1;
    color: #fff;
    border: none;
    transform: rotate(0deg);
    transition: 0.5s;
    background: linear-gradient(-45deg, $primary-color, #6b1cb0, #222 100%, #6b1cb0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    &:hover,
    &:focus {
        filter: brightness(1.1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
